<div class="flex items-center" *ngIf="formularioComponentesHtmlInput">
  <button mat-mini-fab color="primary" class="m-2" [matTooltip]="formularioComponentesHtmlInput.textoAyuda">
      <mat-icon svgIcon="heroicons_outline:question-mark-circle"></mat-icon>
  </button>
  <mat-form-field [ngClass]="" class="flex-auto w-full" >
    <mat-label>{{formularioComponentesHtmlInput.etiquetaInput}}</mat-label>
    <input matInput [placeholder]="formularioComponentesHtmlInput.placeholderInput" [formControlName]="formularioComponentesHtmlInput.nombrePropiedad">
    <mat-icon *ngIf="formularioComponentesHtmlInput.iconoNombre !== 0" class="icon-size-5" matSuffix [svgIcon]="formularioComponentesHtmlInput.iconoNombre"></mat-icon>
  </mat-form-field>
</div>