<div class="w-full max-w-screen-xl mx-auto p-6 md:p-8" *ngIf="!isLoading">
    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full h-min pb-3 pt-3">
        <div>
            <div class="text-3xl font-semibold tracking-tight leading-8">{{ tabla.titulo }}</div>
            <div class="font-medium tracking-tight text-secondary">{{ tabla.subtitulo }}</div>
        </div>
        <div class="flex items-center ml-6">
            <div *ngFor="let boton of tabla.botonesAccionesPorTabla">
                <app-boton [boton]="boton.boton"></app-boton>
            </div>

            <!-- Actions menu (visible on xs) -->
            <div class="sm:hidden">
                <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                    <!-- <button mat-menu-item *ngFor="let accionPorTabla of tabla.accionesPorTabla" [routerLink]="accionPorTabla.urlAccion">{{ accionPorTabla.nombreAccion }}</button> -->
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between w-full h-min pb-3 pt-3">
        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
            <div class="w-full p-6 grid" style="align-items: center; grid-template-columns: 7fr 1fr; gap: 10px;">
                <mat-form-field class="flex items-center">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
            </div>
            <div class="overflow-x-auto mx-6">
                <table class="w-full bg-transparent" mat-table matSort [dataSource]="tableData" [trackBy]="trackByFn"
                    (matSortChange)="sortData($event)" #tableGeneric>

                    <!-- Columns -->
                    <ng-container [matColumnDef]="item" *ngFor="let item of tableColumns">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            {{ item }}
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap" *ngIf="item != 'acciones'">
                                {{row[item]}}
                            </span>
                            <div *ngIf="item == 'acciones'">
                                <div *ngFor="let boton of tabla.botonesAccionesPorColumna">
                                    <app-boton [boton]="boton.boton" [datos]="getDatosPorColumna(row)"></app-boton>
                                </div>
                                <!-- <button class="hidden sm:inline-flex" mat-stroked-button *ngFor="let button of row[item]" (click)="procesarClickAccion(button, row)">
                                    <mat-icon class="icon-size-5" [svgIcon]="button.icono"></mat-icon>
                                    <span class="ml-2">{{ button.nombreAccion }}</span>
                                </button> -->
                            </div>
                        </td>
                    </ng-container>

                    
                

                    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                    <tr class="order-row h-16" mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>